<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip Roulette</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/Content/jquery.vegas.css" />
    <script src="/Scripts/modernizr-2.6.2.js"></script>
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/jquery.vegas.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $.vegas('slideshow', {
                delay: 8000,
            backgrounds: [
                { src: '/Content/background1.jpg', fade: 4000 },
                { src: '/Content/background2.jpg', fade: 4000 },
                { src: '/Content/background3.jpg', fade: 4000 }
        ]
            });
        })

    </script>
</head>
<body id="homepage">
    <div id="circle"></div>

    <div class="content">

        <img src="/Content/logo-white.png" />

        <p>Stop planning, start living.</p>

        <p>Bringing back a true sense of adventure and spontaneity to a world full of choice.</p>

        <p>Are you brave enough to sign-up for the unknown?  </p>

        <a href="/Home/Form?type=risk" class="btn btn-primary btn-risk">I'm a Risk Taker</a>
        <a href="/Home/Form?type=safer" class="btn btn-primary btn-safe">I'm a Play it Safer</a>


    </div>


</body>
</html>
